[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
rope = "*"
autopep8 = "*"
bpython = "*"
flake8 = "*"

[packages]
flask = "*"
requests = "*"
gunicorn = "*"
flask-swagger-ui = "*"

[requires]
python_version = "3.8"
