{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<ul class="container list-group">
    <li class="list-group-item">
        If you have any problems with this app file an issue&nbsp<a
            href="https://github.com/seandjones92/portfolio/issues">here</a> or
            talk to me on Twitter
    </li>
    <li class="list-group-item">
        My GitHub Profile can be found <a href="https://github.com/seandjones92">here</a>
    </li>
    <li class="list-group-item">
        My Twitter can be found <a href="https://twitter.com/seandjones92">here</a>
    </li>
    <li class="list-group-item">
        My LinkedIn can be found <a href="https://www.linkedin.com/in/seandylanjones/">here</a>
    </li>
</ul>
{% endblock %}