{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<div class="mdl-grid">
    <ul class="mdl-list mdl-cell mdl-cell--12-col">
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                If you have any problems with this app file an issue&nbsp<a
                    href="https://github.com/seandjones92/portfolio/issues">here</a>
            </span>
        </li>
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                My GitHub Profile can be found&nbsp<a href="https://github.com/seandjones92">here</a>
            </span>
        </li>
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                My Twitter can be found&nbsp;<a href="https://twitter.com/seandjones92">here</a>
            </span>
        </li>
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                My LinkedIn can be found&nbsp;<a href="https://www.linkedin.com/in/seandylanjones/">here</a>
            </span>
        </li>
    </ul>
</div>


{% endblock %}