<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Projects</title>
  {% block stylesheet %}
  {% endblock %}
</head>

<body>

  <div>
    <nav>
      <a href="/">Sean's Projects</a>
      <a href="/about">About</a>
    </nav>
  </div>

  <div>
    <h1>
      {% block title %}{% endblock %}
    </h1>
    <p>
      {% block description %}{% endblock %}
    </p>
  </div>

  {% block content %}
  {% endblock %}

  {% block javascript %}
  {% endblock %}
</body>

</html>