{% extends "base.html" %}

{% block stylesheet %}
{% endblock %}

{% block title %}Home{% endblock %}

{% block description %}
This is my portfolio of apps. Right now there isn't much here. Take a look around and let me know what you think!
{% endblock %}

{% block content %}
{% for project in projectfeed.projects %}

<div>
    <h5>{{ project.name }}</h5>
    <p>
        {{ project.description }}
    </p>
    <a href="{{ project.link }}">
        Check it out
    </a>
</div>

{% endfor %}
{% endblock %}