<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  </head>
  <script>
    function copyToClipboard() {
	/* Get the text field */
	var copyText = document.getElementById("mockedtext");

	/* Select the text field */
	copyText.select();
	copyText.setSelectionRange(0, 99999); /*For mobile devices*/

	/* Copy the text inside the text field */
	document.execCommand("copy");
    }
  </script> 
  <body>
    <h1>{{ pagecontent.pagetitle }}</h1>
    {% from "_formhelpers.html" import render_field %}
    <form method=post>
      <dl>
	{{ render_field(form.textToMockify) }}
      </dl>
      <p><input type=submit value="mock it">
    </form>
    <p><b>{{ pagecontent.mockedtext }}</b></p>
    <div style="opacity:0">
      <input type="text" value="{{ pagecontent.mockedtext }}" id="mockedtext">
    </div>
    <button onclick="copyToClipboard()">Copy text</button>
  </body>
</html>
