{% extends 'base.html' %}

{% block javascript %}
<script>
    function copyToClipboard() {
        /* Get the text field */
        var copyText = document.getElementById("textToMockify");

        /* Select the text field */
        copyText.select();
        copyText.setSelectionRange(0, 99999); /*For mobile devices*/

        /* Copy the text inside the text field */
        document.execCommand("copy");
    }
</script>
{% endblock %}

{% block title %}MockMe{% endblock %}

{% block description %}
This will turn "some of your text" into "sOmE OF youR tExT"
{% endblock %}

{% block content %}
<form method="POST">
    {{ form.textToMockify }}
    <small id="texthelp">the text you wanna mock goes here</small>
    <button type="submit">Submit</button>
    <button type="button" onclick="copyToClipboard()">Copy</button>
</form>
{% endblock %}