{% extends 'base.html' %}

{% block title %}Roll Dice{% endblock %}

{% block description %}
Use the form to determine how many dice to roll and how many sides each die should have
{% endblock %}

{% block content %}
Outcome of dice roll: {{ rollednumber }}
<form>
    <label for="dicenumber">Number of dice</label>
    {{ form.dicenumber(class="form-control") }}
    <label for="dicesides">Sides of dice</label>
    {{ form.dicesides(class="form-control") }}
    <button type="submit" class="btn btn-primary">Roll</button>
</form>
{% endblock %}