{% extends 'base.html' %}

{% block javascript %}
<script>
    function copyToClipboard() {
        /* Get the text field */
        var copyText = document.getElementById("textToMockify");

        /* Select the text field */
        copyText.select();
        copyText.setSelectionRange(0, 99999); /*For mobile devices*/

        /* Copy the text inside the text field */
        document.execCommand("copy");
    }
</script>
{% endblock %}

{% block title %}MockMe{% endblock %}

{% block description %}
This will turn "some of your text" into "sOmE OF youR tExT"
{% endblock %}

{% block content %}
<div class="container">
    <form method="POST">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-9 col-lg-9 col-xl-9 form-group">
                {{ form.textToMockify(class="form-control") }}
                <small id="texthelp" class="form-text text-muted">the text you wanna mock goes here</small>
            </div>
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 form-group">
                <div class="btn-group" role="group">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-secondary" onclick="copyToClipboard()">Copy</button>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="container d-none d-md-block">
    <h4>Use this on the terminal</h4>

    <p>
        This shell function should work with both Bash and ZSH to provide the same functionality you get here but in
        your terminal! Once you've added the function below into your shell just run:<br>
        <code>$ mockme "whatever text you want"</code>.
    </p>

    <pre id="mockmeShell">
<code>mockme() { curl -s -w '' -X POST https://seanjones.app/api/mockme -H "Content-type: application/json" -d '{"message": "'${1}'"}'}</code>
    </pre>

    <p>
        Copy the function into your terminal and press enter to test the function or put it in your
        <code>~/.bashrc</code> or <code>~/.zshrc</code> to have it available whenever you open your terminal.
    </p>
</div>
{% endblock %}